# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*~

# Environment & secrets
.env
.env.*
!.env.example

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
backend.hcl
!backend.hcl.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
